/* Simcha's format reminders */
/* from @mdo */
.declaration-order {
  /* Positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Box-model */
  display: block;
  float: right;
  width: 100px;
  height: 100px;

  /* Typography */
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

  /* Visual */
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  /* Misc */
  opacity: 1;

  /* and for easy cut and paste... */

  /* Positioning */
  /* Box-model */
  /* Typography */
  /* Visual */
  /* Misc */

}

/* Overall styles */
body {
  font-family: "proxima-nova", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Header styles */

header {
  /* Positioning */

  /* Box-model */
  width: 100%;
  height: 848px;

  /* Typography */
  font-family: "proxima-nova", sans-serif;

  /* Visual */
  background-image: url('../images/header_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  /* Misc */
}

header .content {
  padding-top: 82px;
}

.logo {
  /* Positioning */

  /* Box-model */
  height: 56px;

  /* Typography */

  /* Visual */
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;

  /* Misc */

}

.coming-soon {
  /* Positioning */

  /* Box-model */
  height: 142px;
  margin-top: 81px;
  margin-bottom: 40px;

  /* Typography */

  /* Visual */
  background-image: url('../images/coming_soon.png');
  background-repeat: no-repeat;
  background-position: 50%;
  /* Misc */
}

header h1 {
  /* Box-model */
  margin: 0 auto;
  text-align: center;
  width: 600px;
  margin-bottom: 16px;

  /* Typography */
  color: #fff;
  font-size: 3.3em;
  letter-spacing: .1px;
  font-weight: 500;
  line-height: 1.1em;
}

header h3 {
  /* Box-model */
  margin: 0 auto;
  text-align: center;
  width: 700px;

  /* Typography */
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
}

.signupForm {
  margin: 0 auto;
  width: 780px;
  text-align: center;
}

.formContainer {
  margin: 0 auto;
}
